:host {
    display: grid;
    grid-template-rows: max-content 1fr;
    width: 50vw;
    height: 98%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: var(--border-radius-10);
    border-top-right-radius: var(--border-radius-10);
    overflow: hidden;
    z-index: 1;

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

:host(.opened) {
    animation: 500ms fade-in ease-out forwards;
}

:host(.closed) {
    animation: 500ms fade-out ease-out forwards;
}

.browser-header {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--padding-10) 0;
    background: var(--surface);
}

.browser-content {
    background: var(--background);
}

// @keyframes fade-in {
//     to {
//         opacity: 1;
//         bottom: 0%;
//     }
// }

// @keyframes fade-out {
//     to {
//         opacity: 0;
//         bottom: -100%;
//     }
// }